<div>
    <div class="image">
        <img style="float: left;padding-right: 20px" src="../images/pavel_256_256.jpg">
    </div>
    <div>
        <p>I'm a Lead Software Engineer with ten years of experience combined in software architecture, software development, development operations and automation testing.</p>
        <p>Have experience in entertainment, finance, real estate industries.</p>
        <p>Certified Scrum Master and Google Data Engineer.</p>
        <p>Contact me using the information below.</p>
    </div>
</div>


