---
layout: default
---

{{ content }}

<script defer src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
<script defer type="text/javascript" src="{{ site.url }}/assets/js/firebase-init.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        var firebasePost = firebase.database().ref('posts/{{ page.postId }}');
        firebasePost.once('value').then((snapshot) => {
            const data = snapshot.val();
            if (data == null) {
                firebasePost.set({
                    likeCount: 0,
                    dislikeCount: 0,
                    title: '{{ page.title }}',
                });
                document.getElementById("likeCount").innerHTML = 0;
                document.getElementById("dislikeCount").innerHTML = 0;
            } else {
                document.getElementById("likeCount").innerHTML = data["likeCount"];
                document.getElementById("dislikeCount").innerHTML = data["dislikeCount"];
            }
            if (localStorage.getItem("likeCountPressed") == null) {
                localStorage.setItem("likeCountPressed", "0");
            }
            if (localStorage.getItem("dislikeCountPressed") == null) {
                localStorage.setItem("dislikeCountPressed", "0");
            }
        });
    });

    function like() {
        if (localStorage.getItem("likeCountPressed") === "1") {
            unLike()
        } else {
            var firebasePost = firebase.database().ref('posts/{{ page.postId }}');
            firebasePost.once('value').then((snapshot) => {
                const data = snapshot.val();

                if (data == null) {
                    firebasePost.set({
                        likeCount: 0,
                        dislikeCount: 0,
                        title: '{{ page.title }}',
                    });
                } else {
                    var obj = {};
                    obj["likeCount"] = data["likeCount"] + 1;

                    firebasePost.update(obj, function(error) {
                        if (error) {
                            console.error("Ooops! Something went wrong during like count update");
                        }
                    });
                    document.getElementById("likeCount").innerHTML = data["likeCount"] + 1;
                }
            });
            localStorage.setItem("likeCountPressed", "1");
        }
    }

    function unLike() {
        var firebasePost = firebase.database().ref('posts/{{ page.postId }}');
        firebasePost.once('value').then((snapshot) => {
            const data = snapshot.val();

            if (data == null) {
                firebasePost.set({
                    likeCount: 0,
                    dislikeCount: 0,
                    title: '{{ page.title }}',
                });
            } else {
                var obj = {};
                obj["likeCount"] = data["likeCount"] - 1;

                firebasePost.update(obj, function(error) {
                    if (error) {
                        console.error("Ooops! Something went wrong during like count update");
                    }
                });
                document.getElementById("likeCount").innerHTML = data["likeCount"] - 1;
            }
        });
        localStorage.setItem("likeCountPressed", "0");
    }

    function dislike() {
        if (localStorage.getItem("dislikeCountPressed") === "1") {
            unDislike()
        } else {
            var firebasePost = firebase.database().ref('posts/{{ page.postId }}');
            firebasePost.once('value').then((snapshot) => {
                const data = snapshot.val();

                if (data == null) {
                    firebasePost.set({
                        likeCount: 0,
                        dislikeCount: 0,
                        title: '{{ page.title }}',
                    });
                } else {
                    var obj = {};
                    obj["dislikeCount"] = data["dislikeCount"] + 1;

                    firebasePost.update(obj, function (error) {
                        if (error) {
                            console.error("Ooops! Something went wrong during like count update");
                        }
                    });
                    document.getElementById("dislikeCount").innerHTML = data["dislikeCount"] + 1;
                }
            });
            localStorage.setItem("dislikeCountPressed", "1");
        }
    }

    function unDislike() {
        var firebasePost = firebase.database().ref('posts/{{ page.postId }}');
        firebasePost.once('value').then((snapshot) => {
            const data = snapshot.val();

            if (data == null) {
                firebasePost.set({
                    likeCount: 0,
                    dislikeCount: 0,
                    title: '{{ page.title }}',
                });
            } else {
                var obj = {};
                obj["dislikeCount"] = data["dislikeCount"] - 1;

                firebasePost.update(obj, function(error) {
                    if (error) {
                        console.error("Ooops! Something went wrong during like count update");
                    }
                });
                document.getElementById("dislikeCount").innerHTML = data["dislikeCount"] - 1;
            }
        });
        localStorage.setItem("dislikeCountPressed", "0");
    }
</script>
<p>-------------------------------------</p>
<input type="image" src="{{ site.url }}/assets/icon/like-res.svg" onclick="like()"><span>  </span><span id="likeCount"></span>
<input type="image" src="{{ site.url }}/assets/icon/dislike-res.svg" onclick="dislike()"><span>  </span><span id="dislikeCount"></span>
